
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
\var\cache\dev
/vendor/
/.web-server-pid
###< symfony/web-server-bundle ###
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.php.meta
var/cache/dev/srcApp_KernelDevDebugContainer.xml.meta