
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.php.meta
var/cache/dev/srcApp_KernelDevDebugContainer.xml.meta
