{% extends "base.html.twig" %}

{% block body %}
<!-- LOGIN PAGE -->
{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<!-- Login form -->
<form action="{{ path('login') }}" method="post"
  style="padding-left: 20%;padding-right: 20%;padding-top: 3%;padding-bottom: 3%;">
  <fieldset>
    <!-- Primary title -->
    <legend>Connexion</legend>
    <hr>
    <!-- Login input -->
    <div class="form-group">
      <label for="username">Login</label>
      <input type="text" class="form-control" id="username" placeholder="Login" name="_username">
    </div>
    <!-- Password input -->
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe">
    </div>
    <!-- Redirect the user at this route -->
    <input type="hidden" name="_target_path" value="/admin" />
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </fieldset>
</form>
<!-- Return button -->
<div class="text-center">
  <a href="/"><button type="submit" class="btn btn-dark align-center" style="margin-bottom: 1.5rem;">Retour</button></a>
</div>
{% endblock %}