{% extends "base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}

{% block body %}
<div class="footer-container">
  <p class="dev-by">site développer par Axel Dahirel et Jean Lagniaux</p>
  <p class="dev-by"></p>
  <p class="dev-by"></p>
</div>
{% endblock %}
