{% extends "base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}

{% block body %}
<div class="footer-container text-center align-items-center">
    <p class="dev-by"> - site développer par <a class="footer-link-name" href="#">Axel Dahirel</a> et <a class="footer-link-name" href="#">Jean Lagniaux</a> - </p>
</div>
{% endblock %}
