{% extends "base.html.twig" %}

{% block stylesheets %}
<!-- Lien vers le css -->
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
{% endblock %}

{% block body %}
<div class="bg">
</div>

{# <!-- Premier paragraphe -->
<section class="py-5 test">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, similique in harum magnam 
            obcaecati accusamus tempore quia doloremque praesentium et laboriosam labore at necessitatibus dolorum, 
            eius dolorem dicta fuga voluptas?
        </p>
      </div>
    </div>
  </div>
</section> #}

{% endblock %}