{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/background/video.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/articles/articles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/contact/contact.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/footer/footer.css') }}">
{% endblock %}

{% block body %}
<!-- Anchor -->
<div id="ancre_home"></div>
<!-- Include video background -->
{%  include "background/background.html.twig" %}
<!-- Anchor -->
<div id="ancre"></div>
<!-- Include nav -->
{%  include "nav/navbar.html.twig" %} 
<!-- Include articles -->
{%  include "articles/articles.html.twig" %}
<!-- Include contact -->
{%  include "contact/contact.html.twig" %} 
<!-- Include footer -->
{% include "footer/footer.html.twig" %}
{% endblock %}