{% extends "base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/projet.css') }}">
{% endblock %}

{% block body %}
<!-- Premier paragraphe -->
<section class="projet-section">
<a href="https://www.oklm.com/radio/">
  <div class="container-project transition-invert">
    <div class="div-photos-project">
      <img class="photos-project" src="PORTFOLIO PDF.jpg" alt="photos du projet title"> <!-- faire appel a la database -->
    </div>
    <div class="text-project">
      <div class="project-real-prod-title">
          <h2 class="project-title"> <!-- faire appel a la database --> L'important c'est d'aimer </h2>
          <p class="text-prod-real"> <!-- faire appel a la database --> Réalisation : Thomas cazottes</p>
          <p class="text-prod-real"> <!-- faire appel a la database --> Production : Lycée Carnot</p>
      </div>
    </div>
  </div>
</a>
</section>
{% endblock %}
