{% block body %}
<div class="footer-container text-center align-items-center">
    <p class="dev-by"> - site développer par <a class="footer-link-name" href="#">Axel Dahirel</a> et <a class="footer-link-name" href="#">Jean Lagniaux</a> - </p>
</div>
{% endblock %}
