{% block footer %}
<!-- FOOTER -->
<footer class="page-footer font-small footer-background"> 
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-footer">
    <a class="text-footer" > Created by </a>
      <a class="text-footer text-link" href="#"> Axel Dahirel</a>
    <a class="text-footer" > & </a>
      <a class="text-footer text-link" href="#"> Jean Lagniaux</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}
