{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small footer-background">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-footer"> 2019
    <a class="text-footer" > Site développé par </a>
      <a class="text-footer text-link" href="#"> Axel Dahirel</a>
    <a class="text-footer" > et </a>
      <a class="text-footer text-link" href="#"> Jean Lagniaux</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
{% endblock %}
