.footer-container {
  background-color: #000;
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100%
}

.dev-by {
  color: #fff;
  font-size: 1em;
  font-weight: 100;
}

.footer-link-name {
  text-decoration: none;
  color: #fff;
}
