{% extends "base.html.twig" %}

{% block body %}
<!-- SECTION BELOW VIDEO -->
<section class="section section-a">
    <div class="container">
      <h2>Section A</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
    </div>
  </section>
  
    <section class="section section-b">
      <div class="container">
        <h2>Section B</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
      </div>
    </section>
  
    <section class="section section-c">
      <div class="container">
        <h2>Section C</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
      </div>
    </section>
<!-- Premier paragraphe -->
<section class="projet-section">
<a href="https://www.oklm.com/radio/">
  <div class="container-project transition-invert">
    <div class="div-photos-project">
      <img class="photos-project" src="PORTFOLIO PDF.jpg" alt="photos du projet title"> <!-- faire appel a la database -->
    </div>
    <div class="text-project">
      <div class="project-real-prod-title">
          <h2 class="project-title"> <!-- faire appel a la database --> L'important c'est d'aimer </h2>
          <p class="text-prod-real"> <!-- faire appel a la database --> Réalisation : Thomas Cazottes</p>
          <p class="text-prod-real"> <!-- faire appel a la database --> Production : Lycée Carnot</p>
      </div>
    </div>
  </div>
</a>
</section>
{% endblock %}
