{% extends "base.html.twig" %}

{% block body %}
<!-- Premier article -->
<section class="projet-section">
<a href="/projet">
  <div class="container-project transition-invert">
    <div class="div-photos-project">
      <img class="photos-project" src="PORTFOLIO PDF.jpg" alt="photos du projet title"> <!-- faire appel a la database -->
    </div>
      <div class="project-real-prod-title">
          <h2 class="project-title"> <!-- faire appel a la database --> L'important c'est d'aimer </h2>
          <p class="text-prod-real"> <!-- faire appel a la database --> Réalisation : Thomas Cazottes</p>
          <!-- BALISE POUR L'ANCRE CONTACT -->
          <p class="text-prod-real" id="ancre_contact"> <!-- faire appel a la database --> Production : Lycée Carnot</p>
      </div>
  </div>
</a>
</section>
{% endblock %}
