{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/contact/contact.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/footer/footer.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/articles/projet.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/articles/articles.css') }}">

{% endblock %}

{% block body %}
{%  include "nav/navbar.html.twig" %}

<div class='embed-container'>
  <iframe src='https://www.dailymotion.com/embed/video/x74thp7' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

{% for i in 0..2 %}
<section class="projet-section article-image">
  <div class="container-project transition-invert">
    <div class="div-photos-project">
      <img class="photos-project" src="PORTFOLIO PDF.jpg" alt="photos du projet title"> <!-- faire appel a la database -->
    </div>
  </div>
</section>
{% endfor %}


{% include "footer/footer.html.twig" %}

{% endblock %}
