/*
*
* ==========================================
* CSS VIDEO TOP FOR PROJECT PAGE
* ==========================================
*
*/
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

/*
*
* ==========================================
* CSS TEXT
* ==========================================
*
*/
.information-projet {
  color: white;
  padding-left: 4em;
  padding-right: 4em;
  margin-bottom: 2em;
  text-align: center;
}

.information-projet-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projet-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.titre-projet-list {
  font-size: 2em;
  font-weight: 400;
}

.texte-projet-list {
  font-size: 1em;
  font-weight: 100;
  color: grey;
}

/*
*
* ==========================================
* CSS IMAGES
* ==========================================
*
*/

body{
  background-color: black;
/*  background-color: red; */
}

.container-projet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-image-projet {
  margin-bottom: 2%;
}

.image-projet {
  width: 80%;
  height: auto;
}

.img-droite {
  text-align: right;
  padding-right: 2%;
  flex-wrap: nowrap;
}

.img-gauche {
  text-align: left;
  padding-left: 2%;
  flex-wrap: nowrap;
}

@media(max-width:425px){
  .image-projet {
    width: 100%;
    height: auto;
  }

  .img-droite {
    text-align: center;
    padding: 0;
  }

  .img-gauche {
    text-align: center;
    padding: 0;
  }
}

/*
*
* ==========================================
* CSS ANIMATION IMAGES
* ==========================================
*
*/

@keyframes animationLeft {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(150px);
    }
}

@-webkit-keyframes animationLeft {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(150px);
    }
}
/*
.img-gauche:hover
{
    @-webkit-animation: animationLeft 4s alternate;
    animation: animationLeft 4s alternate;
}
*/

@keyframes animationRight {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(0,2);
    }

    100% {
        transform: translate(0);
    }
}

@-webkit-keyframes animationRight {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(0,-2);
    }

    100% {
        transform: translate(0);
    }
}

/*
.img-droite:hover
{
    @-webkit-animation: animationLeft 4s alternate;
    animation: animationLeft 4s alternate;
}
*/
