/*
*
* ==========================================
* CSS FOOTER SECTION
* ==========================================
*
*/

.footer-background {
  background-color: #343a40;
}

.text-footer {
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.text-link:hover {
  color: #007bff;
  text-decoration: none;
}
