{% block body %}
{% if app.request.attributes.get('_route') == "projet" %}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark " style="filter: opacity(0.7)">
    <div class="container">
       <a class="navbar-brand" href="/" style="text-transform: uppercase;">L'important c'est d'aimer</a>
       <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/gallery">Galerie</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#ancre_contact">Contact</a>
             </li>
          </ul>
       </div>
    </div>
 </nav>

{% else %}
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
         <a class="navbar-brand" href="#" style="text-transform: uppercase;">Thomas Cazottes</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                  <a class="nav-link" href="#ancre_home">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/gallery">Galerie</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#ancre_contact">Contact</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
{% endif %}
 {% endblock %}
